#  Assignment

### 1.Explain the key features of Python that take it a popular choice for programming.

#### Ans:  Python is a popular programming language known for its simplicity, versatility and wide range of application.
####       There are some features mentions below:
####       -> Easy to learn : Python is easy to learn and use because it has simple ans easy readable syntax.
####       -> Versatility: Python is used in wide range fields like web development, ML and Data Science etc.
####       -> Interpreted language: Python is a interpreted language means it execute code line by line.
####       -> A lot of Labraries: Python has huge range of inbuilt modules and functions to maipulate data and handing                  etc.
####       -> Continuous Improvement: Python is maintained and regularly updated with new features, improvemnt and     security enhancemnet.

## 2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

### Ans: Python has a predefined keywords also known for reserved word. Keywords have diffrent work in programming . they can not taken as Identifier(Variable, name ,function etc) in code. Here are some example of Keyword -

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Using if, else, elif Keyword

In [3]:
#if is used for check condition statement in python.

#code
num = int(input("Enter a number: "))
if num >0: 
    print("The number is positive")
elif num == 0:
    print("The number is zero")
else:
    print("The number is negative")

Enter a number:  10

The number is positive

### Using for and in keyword

In [4]:
#For is loop statement is used to iterate data

#code
for i in range(4):
    for j in range(4):
        print("*", end = " ")
    print()

* * * *
* * * *
* * * *
* * * *

### Using Break Keyword

In [5]:
#Break Statement is used to terminate the execution.

#code
num = 0
while num<= 5:
    if num == 3:
        break
    print(num)
    num = num + 1

0
1
2

### Using Continue Keyword

In [2]:
#Continue Statement used to skip the code in loop

#code
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

## 3. Compase and contrast mutable and immutable objects in Python with examples.

 ## Mutable Object:
 ### Mutbale object are those object which allows to change and modification after creation.
 ### for example:-
 ### List
 ### Sets
 ### Dictionary

In [5]:
#Creating a list and change  the 2nd index element.

#code
my_list = [1,2,3,4,5,6]
my_list[2] = 9
print(my_list)

[1, 2, 9, 4, 5, 6]

## Immutable Object:
### Immutable object are those objet that does not allow any chnage and modification after creation.
### for example:-
### tuple
### String

In [7]:
#creating a tuple and changing the 2nd indexed element it will show error.

#code
my_tuple = ("car","bike","bus","train")
my_tuple[2] = "cycle"
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

## 4. Discuss the different types of operators in Python and provide examples of how they are used.

## Operator:
### Operators are the special symbol and keyword that are used to perform operations on operand.

## Arithmetic Operator
### Used to perform mathematical operation

In [6]:
#"+" Addition Operation : used to add two operand.

#code
x = 2+3
print(x)

5

In [7]:
#"-" Substraction Operation: Used to substract left operand from right.

#code
x = 5-2
print(x)

3

In [8]:
#"*"Multiplication Operation: Used to multiply two operand.

#code
x = 5*3
print(x)

15

In [9]:
#"/" Division Operation: Used to divide two operand.

#code
x = 8/4
print(x)

2.0

In [10]:
#"%"Modulus Operation: returns the remainder value.

#code
x = 9%2
print(x)

1

In [11]:
#"//"Floor Operation: returns the nearest value.

#code
x = 7//3
print(x)

2

## Comperision Operator
### Used to compare two value and return a Boolean (True or False)

In [12]:
#"==" equal: return True if both value are equal.

#code
x = (5 == 3)
print(x)

False

In [14]:
#">" Greater than : return True if left value is greater than right.

#code
x = (5 > 3)
print(x)

True

In [15]:
#"<"Less than : return true if left value is less than right.

#code
x = (5 < 3)
print(x)

False

In [17]:
#">=" Greater than equal: return true if left value is greater or equal to right.

#code
x = (5 >= 3)
print(x)

True

In [18]:
#"<=" Less than Equal: return true if left value is less than or equal to right.

#code
x = (5 <= 3)
print(x)

False

In [21]:
#"!=" Not  Equal : return true if both are not equal.

#code
x = (5 != 3)
print(x)

True

## Logical Operator
### Used to joined the conditional statemnet.

In [22]:
#"and": check if both condition are true it returns true.

#code
x = (5>3 and 3>1)
print(x)

True

In [23]:
#"or": check if atleast one condition is true it returns true.

#code
x = (5>3 or 3>6)
print(x)

True

In [24]:
#"not": it reverse the result if true it return false

#code
x = not(5>2)
print(x)

False

## Assignment Operator
### Used to assign the value to variable

In [26]:
#"=" used to assign the rigth side value to the left side operand.

#code
x = 5
print(x)

5

In [27]:
#"+=": used to add right side operand with left side operand and assign  the result to left operand.

#code
x =2 
x += 2
print(x)

4

In [28]:
#"-=": used to subtract  right side operand from left side operand and assign the result to left operand.

#code
x = 5
x -= 2
print(x)

3

In [1]:
#"*=": used to multiply right operand with left operand and assign the result to left operand.

#code
x = 4
x *= 2
print(x)

8

In [2]:
#"/=": used to divide the left operand with right operand and assign the result to left operand.

#code
x = 6
x /= 2
print(x)

3.0

In [3]:
#"%=": used to divide left operand with right operand and assign the remainder to the left operand

#code
x = 7
x %= 2
print(x)

1

In [4]:
#"//=": used to divide left operand with right operand and then assign the nearest value to the left operand.

#code
x = 9
x //= 4
print(x)

2

## Membership Operator
### Used to test if a sequence is present in the object.

In [1]:
#"in" return true if sequence with specified value is present in the object.

#code
String = "Rahul"
print('h' in String)

True

In [2]:
#"not in " return false if sequence with specified vale is present in the object.

#code
my_list = [1,3,5,7,8]
print(3 not in my_list)

False

## Identity Operator
### Compare the object if they are actually same object with same memory location.

In [5]:
#"is" return true if the object are same with same memory location.

#code
my_list1 = [1,2,3,4,5]
my_list2 = my_list1
print (my_list1 is my_list2)

True

In [8]:
#"is not" return true if the object are not same with diffrent memory location.

#code
my_list1 = [1,2,3,4,5]
my_list2 = [1,2,3,4,5]
print(my_list1 is not my_list2)

True

## Bitwise Oprator
### Used to compare binary numbers.

In [13]:
#"& ,And" Set each bit 1 if both bit are 1.

#code
a = 5
b = 7
print(a & b)

5

In [14]:
#"|,OR" Set each bit 1 if one of two bit is 1

#code
a = 10
b = 8
print(a | b)

10

In [15]:
#"^ XOR" Set each bit 1 if only one of two bit is 1

#code
a = 7
b = 5
print(a ^ b)

2

In [19]:
#"~, NOT" Invert all bits.

#code
a = 5
print(~(a))

-6

In [23]:
#"<< left shift" Shift left by pushing zeros in from the right and let the leftmost bits fall of.

#code
a = 35 #data
b = 1  #shift
print(a<<b)

70

In [24]:
#"Right Shift"  shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

#code
a = 35 #data
b =1 #shift
print(a>>1)

17

# 5. Explain the concept of type casting in Python with examples.

## Type Casting
### The process of changing the data type of a value is called type casting.
### Two type of casting

## 1.Implicit Type Casting: 
### In this method one data type convert into another data type automatically.

In [25]:
#code
a = 5
print(type(a))
b = 3.0
print(type(b))
print(type(a+b))

<class 'int'>
<class 'float'>
<class 'float'>

## 2. Explicit Type Casting
### In this method one data type convert into another data type manually by the user.

In [28]:
#code

a = 6.0
print(type(a))
b = 7.0
print(type(b))
c = int(a+b)
print(type(c))

<class 'float'>
<class 'float'>
<class 'int'>

# 6. How do conditional statements work in Python? Illustrate with examples.

## Conditional Statements:
### This type of statemnets helps you to code  decision based on some pre condition.

## 1. If Statement
### The block of code will be execute if the given condition will be true.

In [32]:
#code

a = 5
b = 4
if a>b:
    print("a is greater than b")

a is greater than b

## 2. If Else Statemnet:
### In this statement an additional block of code is merged and this block of code will be execute when the if condition false.

In [34]:
a = 4
b = 5
if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

## 3.Elif Statement:
### In this statemnet if condition will be executed untill this elif condition false .

In [40]:
#code

age = int(input("Enter your age: "))
if age <18 :
    print("You are not adult")
elif age >= 18 and age < 60:
    print("You are adult")
else:
    print("you are Senior Citizen")

Enter your age:  62

you are Senior Citizen

## 4. Nested If- Else
### Nested if - else mean if - else conition in another if - else condition.

In [41]:
# code

letter = 'A'
if letter == 'B':
    print("letter is B")
else:
    if letter == 'C':
        print("letter is C")
    else:
        if letter == 'D':
            print("letter is D")
        else:
            print("letter is not A,B,C,D")

letter is not A,B,C,D

# 7. Describe the different types of loops in Python and their use cases with examples.

## Loop Statement:
### Loop Statement is used to execute a block of code more than one time.

## 1. While loop:
### This Statemnet first check the condition if condition is true then it execute the block of code untill condition get false.

In [44]:
#code

a = 1 
while a <= 10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

## 2. For Loop Statement:
### This loop iterate over a sequence that is list, tuple, set, dictionry and string.

In [45]:
#code
my_tuple = ("car","bus","truck","cycle")
for i in my_tuple:
    print(i)

car
bus
truck
cycle

In [46]:
# star patter using for loop

#code
for i in range(4):
    for j in range(4):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *